{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}

{% block content %}
  <h1>
    Home
  </h1>
  {% if user.is_authenticated %}
    <p>
      Hello, {{ user.first_name }}
    </p>
    <h2>
      <form action="{% url 'logout' %}" method="post"> {% csrf_token %}
        <button class="btn btn-success" type="submit">
          LogOut
        </button>
      </form>
    </h2>
    <h2>
      <button>
        <a href="{% url 'profile' %}">
          Profile
        </a>
      </button>
    </h2>
    {% else %}
      <h2>
        <a href="{% url 'signup' %}">
          SignUp
        </a>
      </h2>
      <h2>
        <a href="{% url 'login' %}">
          Login
        </a>
      </h2>
      {% endif %}
      <h2>
        <a href="{% url 'items' %}">
          Items Available
        </a>
      </h2>
{% endblock content %}